#title{
	text-align: center;
}
#name{
	text-align: center;
}
#mainContent{
	text-align: center;
}
@media only screen and (max-width: 1000px) {
	#mainContent{
		display:none;
	}
}
nav {
  background-color: #303030;
  color: #EFEFEF; }
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }